<p>
  Nome:
  <input type="text" #nome>
</p>
<p>
  Cognome:
  <input type="text" #cognome>
</p>
<p>
  Indirizzo:
  <input type="text" #indirizzo>
</p>
<p>
  Telefono:
  <input type="number" #telefono>
</p>
<p>
  Email:
  <input type="email" #email>
</p>
<p>
  Data prenotazione:
  <input type="date" #data>
</p>
<p>
  Ora prenotazione:
  <input type="time" #ora>
</p>

@for(pre of vettPrenotazioni; track pre)
{
  <br>
  <hr>
  <app-lista-prenotazioni [prenotazione]="pre"></app-lista-prenotazioni>
}